* {
    box-sizing: border-box;
}

.parent {
    background-color: #ffe165;
    max-width: 320px;
    margin: 10px;
}

.headline {
    text-align: center;
    margin: 10px;
}

.converter {
    width: 100%;
    line-height: 2;
}

.converter > * {
    text-align: center;
    margin: 0 10px 10px 10px;
}

#calculation-button {
    border: 0;
    background-color: aquamarine;
}

#calculation-button:hover {
    cursor: grab;
    background-color: #09f0a2;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.fieldName {
    font-weight: bold;
    color: #856b6b;
}

.entry-field {
    border: 0;
    padding: 2px;
    width: 100%;
}

.parent::after {
    content: "";
    display: block;
    clear: both;
}
