div {
    background-color: #ffe165;
    max-width: 300px;
    margin: 10px;
}

.converter {
    width: 100%;
    padding: 5px;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

label {
    float: right;
    line-height: 2.5;
    font-weight: bold;
    color: #856b6b;
}

input:first-child {
    border: 0;
}

button {
    border: 0;
    float: right;
    margin-top: 20px;
    background-color: aquamarine;
}

.converter::after {
    content: "";
    display: block;
    clear: both;
}
