* {
    box-sizing: border-box;
}

.table-size {
    max-width: 750px;
    margin: 10px;
    overflow-x: hidden;
}

.side-borders tr > * {
    border: 1px solid #cfcfcf;
    padding: 10px;
    text-align: left;
}

.information {
    /*border: 4px solid #cfcfcf;*/
    border-collapse: collapse;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #242424;
    width: 100%;

}

.white-text {
    color: #fcfdfe;
}

.background-alternation > :nth-child(odd) {
    background-color: #eeeeee;
}

.blue-background {
    background-color: #3498db;
}
