* {
    box-sizing: border-box;
}

.cell > * {
    border-style: solid;
    border-width: 1px 1px;
    border-color: #cfcfcf;
    padding: 10px;
    text-align: left;
}

.information {
    border-collapse: collapse;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #242424;
}

.cell :nth-child(1) {
    width: 150px;
}

.cell :nth-child(2) {
    width: 150px;
}

.cell :nth-child(3) {
    width: 275px;
}

.cell :nth-child(4) {
    width: 175px;
}

.white-text {
    color: #fcfdfe;
}

.background-alternation > :nth-child(odd) {
    background-color: #eeeeee;
}

.side-borders {
    margin: 10px;
}

.blue-background {
    background-color: #3498db;
}
