h1 {
    font-family: Arial, serif;
    font-weight: normal;
    font-size: 24px;
}
body {
    background-color: #feeed6;
}
div {
    color: #57a4c1;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 13px;
}
div span, div p {
    color: #000;
    font-weight: normal;
}
p {
    text-indent: 1em;
}
.cross-out {
    text-decoration: line-through;
}