body {
    font-family: Arial, sans-serif;
    background-color: #feeed6;
}

.side-borders {
    max-width: 730px;
    margin: 5px;
}

.main-title {
    font-weight: normal;
    font-size: 30px;
    color: #676565;
}

.blue {
    color: #5e90b2;
    font-weight: bold;
    font-size: 18px;
}

.regular-font {
    color: #886d70;
    font-weight: normal;
}

.indent {
    margin-bottom: 10px;
}

.red-row {
    text-indent: 1em;
}

.cross-out {
    text-decoration: line-through;
}