* {
    box-sizing: border-box;
}

.parent {
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: #676565;
    max-width: 760px;
    overflow-x: hidden;
    margin: 10px;
}

.child {
    width: 100%;
    padding: 15px 15px 10px 15px;
    line-height: normal;
}

.headline-font {
    font-size: 30px;
    text-indent: 15px;
    margin-bottom: 5px;
}

.background-color {
    background: #feeed6;
}

.feedback label {
    font-weight: bold;
    line-height: 2;
}

.comment-style {
    height: 120px;
    max-width: 100%;
    padding: 5px;
}

.feedback > * :nth-child(even) {
    width: 100%;
    border: 0;
    padding: 10px;
    margin-bottom: 10px;
}

.button-style {
    vertical-align: middle;
    margin-top: 15px;
    color: #ffffff;
    font-weight: bold;
    background: #378db2;
    padding: 10px;
    float: right;
    border: 0;
}

.button-style:hover {
    cursor: grab;
    background: #23799e;
}

.child::after {
    content: "";
    display: block;
    clear: both;
}